@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;        
}



.main {
    display: flex;    
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;    
    height: 100vh;  

}

.slider {
    position: absolute;
    width: 100vw;    
    height: 100vh;
}

.text {
    position: absolute;    
    z-index: 1;
    top: 20px;
    left: 20px;

    background-color: rgba(243, 239, 239, 0.9);
    padding: 10px;
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.text h1 {
    font-size: 48px;
    padding: 10px;
}

.text p {
    font-size: 20px;
    padding: 10px;
}


.slider img {
    opacity: 0;

    position: absolute;
    width: 100%;
    height: 100%;

    object-fit: cover;

    transition: opacity 2000ms;
}

.slider img.selected {
    opacity: 1;
}

.buttons-div {    
    position: absolute;
    bottom: 20px;
    right: 20px;   

}

.button {
    background-color: transparent;
    padding: 8px 20px;
    color: #f8efef;
    font-weight: 500;
    font-size: 22px;
    border-radius: 5px;

}

.button:hover {
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
}